In [14]:
url = "https://en.wikipedia.org/wiki/FIFA_World_Cup_top_goalscorers"

In [10]:
import pandas as pd
tables = pd.read_html(url)
len(tables)

3

In [12]:
df = tables[0]
df

,Rank,Player,Goals,Apps,Ratio,First,Last,Club(s) (goals/apps)
0,1,Alan Shearer[b],260,441,0.59,1992,2006,"Blackburn Rovers (112/138), Newcastle United (..."
1,2,Wayne Rooney,208,491,0.42,2002,2018,"Everton (25/98), Manchester United (183/393)"
2,3,Harry Kane,195,297,0.66,2012,2022,"Tottenham Hotspur (195/294), Norwich City (0/3)"
3,4,Andy Cole,187,414,0.45,1993,2006,"Newcastle United (43/58), Manchester United (9..."
4,5,Sergio Ag√ºero,184,275,0.67,2011,2021,Manchester City
5,6,Frank Lampard,177,609,0.29,1996,2015,"West Ham United (24/148), Chelsea (147/429), M..."
6,7,Thierry Henry,175,258,0.68,1999,2012,Arsenal
7,8,Robbie Fowler,163,379,0.43,1993,2008,"Liverpool (128/266), Leeds United (14/30), Man..."
8,9,Jermain Defoe,162,496,0.33,2001,2018,"West Ham United (18/74), Tottenham Hotspur (91..."
9,10,Michael Owen,150,326,0.46,1997,2013,"Liverpool (118/216), Newcastle United (26/71),..."
10,11,Les Ferdinand[b],149,351,0.42,1992,2004,"Queens Park Rangers (60/110), Newcastle United..."
11,12,Teddy Sheringham[b],146,418,0.35,1992,2006,"Nottingham Forest (1/3), Tottenham Hotspur (97..."
12,13,Robin van Persie,144,280,0.51,2004,2015,"Arsenal (96/194), Manchester United (48/86)"
13,14,Jamie Vardy,134,285,0.47,2014,2022,Leicester City
14,15,Jimmy Floyd Hasselbaink,127,288,0.44,1997,2007,"Leeds United (34/69), Chelsea (69/136), Middle..."
15,16,Mohamed Salah,126,207,0.61,2014,2022,"Chelsea (2/13), Liverpool (124/194)"
16,16,Robbie Keane,126,349,0.36,1999,2012,"Coventry City (12/31), Leeds United (13/46), T..."
17,18,Nicolas Anelka,125,364,0.34,1997,2014,"Arsenal (23/65), Liverpool (4/20), Manchester ..."
18,19,Dwight Yorke[b],123,375,0.33,1992,2009,"Aston Villa (60/179), Manchester United (48/96..."
19,20,Romelu Lukaku,121,278,0.44,2011,2022,"Chelsea (8/36), West Bromwich Albion (17/35), ..."
20,21,Steven Gerrard,120,504,0.24,1998,2015,Liverpool
21,22,Ian Wright[b],113,213,0.53,1992,1999,"Arsenal (104/191), West Ham United (9/22)"
22,23,Raheem Sterling,112,332,0.34,2012,2022,"Liverpool (18/95), Manchester City (91/225), C..."
23,24,Sadio Man√©,111,263,0.42,2014,2022,"Southampton (21/67), Liverpool (90/196)"
24,24,Dion Dublin,111,312,0.36,1992,2004,"Manchester United (2/12), Coventry City (61/14..."
25,26,Emile Heskey,110,516,0.21,1995,2012,"Leicester City (33/124), Liverpool (39/150), B..."
26,27,Ryan Giggs[b],109,632,0.17,1992,2014,Manchester United
27,28,Peter Crouch,108,468,0.23,2002,2019,"Aston Villa (6/37), Southampton (12/27), Liver..."
28,29,Paul Scholes,107,499,0.21,1994,2013,Manchester United
29,30,Darren Bent,106,276,0.38,2001,2014,"Ipswich Town (1/5), Charlton Athletic (31/68),..."
30,31,Didier Drogba,104,254,0.41,2004,2015,Chelsea
31,32,Cristiano Ronaldo,103,236,0.44,2003,2022,Manchester United
32,33,Matt Le Tissier[b],100,270,0.37,1992,2002,Southampton

In [13]:
df.to_csv("top_scorers.csv", index=False)